project.docx
learning_path.xlsx
**\portfolio_site_dump
**\data.tsv
**\title.basics.tsv.gz
.vscode
**\linux_udacity\keys
**\linux_udacity\keys.pub
**\linux_udacity\pub_keys.txt
**\linux_udacity\.vagrant\machines\default\virtualbox\private_key