<!DOCTYPE html>
<html>
<h1>Welcome to the Homepage!</h1>
<table>
    <tr>
        <th>Imge</th>
        <th>Name</th>
        <th>Age</th>
        <th>bio</th>
    </tr>
    <tr>
        <td><img src="1.jpg"></td>
        <td><img src="2.jpg"></td>
        <td><img src="3.jpg"></td>
        <td><img src="4.jpg"></td>
    </tr>
    <tr>
        <td>Nelli</td>
        <td>Yuki</td>
        <td>Bhasker</td>
        <td>Mr.Furrkis</td>
    </tr>
    <tr>
        <td> 5 Weeks</td>
        <td>8 Months</td>
        <td>1 Year</td>
        <td>5 Years</td>
    </tr>
    <tr>
        <td>I am a Kitten resqued by good people at Paw Resque Center. I like squeqy little toys and cuddles</td>
        <td>I am a handsome gentle cat. I like to dress up in bow ties</td>
        <td>I love barking but I love my friends more</td>
        <td> Probably napping</td>
    </tr>
</table>
</html>