{% extends "base.html" %}

{% block head %}
    <title>Home - Paws Rescue Center</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
{% endblock %}

{% block body %}
<h1 style="text-align: center;">Paws Rescue Center 🐾</h1>
<table>
   
    <tr>
        <th>Imge</th>
        <th>Name</th>
        <th>Age</th>
        <th>bio</th>
    </tr>
    {% for pet in pets %}
    <tr>
        <td >
            <a href="{{'/details/'+pet['id']|string}}"> 
            <img src= "{{url_for('static', filename = pet['id']|string+'.jpg')}}" height="100" ></td>
            </a>
        <td>{{pet["name"]}}</td>
        <td> {{pet["age"]}}</td>
        <td>{{pet["bio"]}}</td>

    </tr>
    {% endfor%}
</table>
{% endblock %}
